In [1]:
import pandas as pd
# dir(pandas)

In [2]:
data = {'day': ['sun', 'mon', 'tue'], 'visitors':[122, 456, 755]}
df = pd.DataFrame(data)

In [3]:
df

   day  visitors
0  sun       122
1  mon       456
2  tue       755

In [4]:
data1 = {'day': ['sun', 'mon', 'tue'], 'buyers':[56, 234, 678]}
df2 = pd.DataFrame(data1)
df2

   day  buyers
0  sun      56
1  mon     234
2  tue     678

In [10]:
pd.merge(df, df2, on='day')

   day  visitors  buyers
0  sun       122      56
1  mon       456     234
2  tue       755     678

In [7]:
data1

{'day': ['sun', 'mon', 'tue'], 'buyers': [56, 234, 678]}

In [8]:
data1['returns'] = [6,7,8]

In [9]:
data1

{'day': ['sun', 'mon', 'tue'], 'buyers': [56, 234, 678], 'returns': [6, 7, 8]}